/* --------- mixins --------- */
@mixin opensans($style : jenya) {
	@if $style == jenya {
		font-family: 'OpenSansRegular';
	}

	@if $style == semi {
		font-family: 'OpenSansSemiBold';
	}

	@if $style == bold {
		font-family: 'OpenSansBold';
	}

	@if $style == ital {
		font-family: 'OpenSansItalic';
	}

	@if $style == birch {
		font-family: 'BirchStd';
	}

	@if $style == alight {
		font-family: 'AvenirLTStd-Light';
	}

	@if $style == aroman {
		font-family: 'AvenirLTStd-Roman';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include opensans(jenya);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder {color:#fff;}/* Firefox 19 */
input:-moz-placeholder {color:#fff;}/* Firefox 18 */
input:-ms-input-placeholder {color:#fff;}

p {
	padding: 0;
	margin: 0;
}

// base style
.main {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.row {
	padding: 0 72px;
	@include desktop {
		padding: 0;
	}
}

// header area
.header {
	background-color: #35363b;
	height: 120px;
	position: relative;
	z-index: 10;
	-webkit-box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	@include laptop {
		height: 100px;
	}
	.row {
		@include clearfix;
	}
}

.header__logo {
	float: left;
	margin-top: 15px;
	cursor: pointer;	
	@include laptop {
		margin-top: 6px;
	}
	@include tablets {
		display: block;
		float: none;
	}
}

.header__logo-link {
	position: relative;
	display: block;
	width: 270px;
	height: 80px;
	@include laptop {
		width: 140px;
	}
	@include tablets {
		float: none;
		width: 240px;
		height: 80px;
		display: block;
		margin: 10px auto;
	}
}

.header__logo-pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.header__nav {
	width: 605px;
	float: right;
	@include tablets {
		display: none;
	}
}

.header__nav-list {
	width: auto;
	position: relative;
	@include clearfix;
	@include laptop {
		padding-left: 82px;
	}
}

.header__nav-item {
	position: relative;
	float: left;
	font-size: 14px;
	font-weight: 600;
	top: 31%;
	text-transform: uppercase;
	@include opensans(birch);
}

.header__nav-link {
	height: 96px;
	display: inline-block;
	position: relative;
	color: #ebebeb;
	width: 100%;
	padding: 0 20px;
	padding-top: 42px;
  text-align: center;
  transform: scale(1, 1.5);
  transition: all 0.15s;
	&:hover {
		color: #ebebeb;
		text-decoration: none;
		background: url('../img/back-hover.png') no-repeat center bottom/cover;
		& .nav-link_star {
			&-one {
				opacity: 1;
			}
			&-two {
				opacity: 1;
			}
			&-three {
				opacity: 1;
			}
			&-four {
				opacity: 1;
			}
		}
	}
	&:focus {
		background: url('../img/back-focus.png') no-repeat center bottom/cover;
		color: #ebebeb;
		text-decoration: none;
		& .nav-link_star {
			&-one {
				opacity: 1;
			}
			&-two {
				opacity: 1;
			}
			&-three {
				opacity: 1;
			}
			&-four {
				opacity: 1;
			}
		}
	}
	@include laptop {
		padding: 37px 10px 0;
	}
	&_one {
		top: 21.9px;
		padding-top: 31.5px;
		@include laptop {
			top: -1px;
			padding-top: 38.5px;
		}
	}
	&_two {
		top: 19px;
		padding-top: 33px;
		@include laptop {
			top: -3px;
			padding-top: 40px;
		}
	}
	&_three {
		top: 25px;
		padding-top: 29.2px;
		margin-top: -1px;
		@include laptop {
			top: 3px;
			padding-top: 36.2px;
		}
	}
	&_four {
		top: 23.5px;
		padding-top: 30px;
		@include laptop {
			top: 0.5px;
			padding-top: 37.1px;
		}
	}
}

.nav-link_star {
	width: 9px;
	height: 9px;
	background: url('../img/star.png') no-repeat center center/cover;
	position: absolute;
	opacity: 0;
	transform: scale(1,0.7);
	@include laptop {
		display: none;
	}
	&-one {
		&:first-child {
			left: 5px;
			top: 39%;
		}
		&:last-child {
			right: 5px;
			top: 39%;
		}
	}
	&-two {
		&:first-child {
			left: 5px;
			top: 41%;
		}
		&:last-child {
			right: 5px;
			top: 41%;
		}
	}
	&-three {
		&:first-child {
			left: 5px;
			top: 37.5%;
		}
		&:last-child {
			right: 5px;
			top: 37.5%;
		}
	}
	&-four {
		&:first-child {
			left: 5px;
			top: 38%;
		}
		&:last-child {
			right: 5px;
			top: 38%;
		}
	}
}

// about area
.about {
	min-height: 446px;
	background: url('../img/back-about.png') no-repeat center bottom/cover;
	position: relative;
	z-index: 5;
	@include tablets {
		min-height: 0;
		height: auto;
		padding-bottom: 100px;
	}
	@include phones {
		padding-bottom: 90px;
	}
	.row {
		@include clearfix;
		position: relative;
	}
}

.about__pic {
	position: relative;
	height: 298px;
	width: 256px;
	float: left;
	top: 60px;
	margin-left: 6%;
	@include desktop {
		height: 278px;
    width: 236px;
	}
	@include laptop {
		width: 175px;
		margin-left: 3%;
	}
	@include tablets {
		float: none;
		display: block;
		margin: 0 auto;
		top: 10px;
	}
}

.about__pic-item {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.about__separator {
	position: absolute;
	top: 40%;
	right: 10.5%;
	width: 680px;
	height: 59px;
	@include desktop {
		top: 38.5%;
		right: 2%;
	}
	@include laptop {
		display: none;
	}
}

.about__separator-pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.about__content {
	margin-top: 70px;
	float: left;
	width: 640px;
	margin-left: 30px;
	color: #000;
	@include laptop {
		width: 500px;
	}
	@include tablets {
		float: none;
		width: 85%;
		display: block;
		margin: 0 auto;
	}
}

.about__content-title {
	@include opensans(birch);
	font-size: 27px;
	transform: scale(1, 2);
	font-weight: 600;
	word-spacing: -4px;
	margin-bottom: 38px;
	@include desktop {
		margin-top: -5px;
	}
	@include tablets {
		text-align: center;
	}
	@include phones {
		font-size: 20px;
	}
}

.about__content-text {
	@include opensans(aroman);
	font-size: 15px;
	line-height: 20px;
	@include tablets {
		padding-left: 15px;
	}
}

// team area
.team {
	margin-top: -30px;
	min-height: 678px;
	background: url('../img/back-team.png') no-repeat center bottom/cover;
	padding-top: 50px;
	z-index: 4;
	position: relative;
	@include laptop {
		min-height: 578px;
	}
	@include tablets {
		margin-top: -35px;
	}
	@include main(520px) {
		margin-top: -38px;
	}
}

.team__title {
	@include opensans(birch);
	font-size: 30px;
	transform: scale(1, 2);
	font-weight: 500;
	word-spacing: -4px;
	color: #fff;
	text-align: center;
	@include phones {
		font-size: 25px;
	}
}

.team__slider-wrap {
	position: relative;
}

.team__slider-arr {
	height: 55px;
	width: 100%;
	position: absolute;
	top: 29%;
	@include laptop {
		top: 21%;
	}
	@include main(840px) {
		width: 90%;
		left: 5.1%;
	}
	@include tablets {
		width: 85%;
    left: 7%;
	}
	@include main(375px) {
		width: 90%;
		left: 5.1%;
		z-index: 3;
	}
	@include main(345px) {
		width: 97%;
    left: 1.5%;
	}
	&_prev {
		height: 55px;
		width: 55px;
		background: url('../img/team-prev.png') no-repeat center center/cover;
		position: absolute;
		left: -2%;
		@include laptop {
			left: 0;
		}
	}
	&_next {
		height: 55px;
		width: 55px;
		background: url('../img/team-next.png') no-repeat center center/cover;
		position: absolute;
		right: -2%;
		@include laptop {
			right: 0;
		}
	}
	& .owl-prev {
		width: 55px;
		height: 55px;
		position: absolute;
		left: -2%;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		@include laptop {
			left: 0;
		}
	}
	& .owl-next {
		width: 55px;
		height: 55px;
		position: absolute;
		right: -2%;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		@include laptop {
			right: 0;
		}
	}
}

.team__slider {
	width: 900px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	@include clearfix;
	@include laptop {
		width: 550px;
	}
	@include tablets {
		width: 265px;
	}
}

.team__slider-item {
	float: left;
	margin: 0 8px;
	color: #fff;
	width: 285px;
	@include laptop {
		width: 250px;
	}
}

.team__slider-pic {
	width: 285px;
	height: 285px;
	position: relative;
	@include laptop {
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
}

.team__slider-pic_elem {
	position: absolute;
	max-width: 99.9%;
	max-height: 99.9%;
}

.team__slider-title {
	@include opensans(birch);
	font-size: 16px;
	transform: scale(1, 2);
	font-weight: 500;
	text-align: center;
	width: 250px;
	margin: 15px auto;
}

.team__slider-text {
	font-size: 14px;
	@include opensans(aroman);
	width: 236px;
	margin: 0 auto;
	@include laptop {
		width: 200px;
	}
}

// transport area
.transport {
	margin-top: -30px;
	min-height: 678px;
	background: url('../img/back-transport.png') no-repeat center bottom/cover;
	padding-top: 52px;
	position: relative;
	z-index: 3;
	@include laptop {
		min-height: 578px;
	}
}

.transport__title {
	@include opensans(birch);
	font-size: 30px;
	transform: scale(1, 2);
	font-weight: 500;
	word-spacing: -4px;
	color: #fff;
	text-align: center;
	@include phones {
		font-size: 25px;
	}
}

.transport__slider-wrap {
	position: relative;
}

.transport__slider-arr {
	height: 55px;
	width: 100%;
	position: absolute;
	top: 29%;
	@include laptop {
		top: 21%;
	}
	@include main(840px) {
		width: 90%;
		left: 5.1%;
	}
	@include tablets {
		width: 85%;
    left: 7%;
	}
	@include main(375px) {
		width: 90%;
		left: 5.1%;
		z-index: 3;
	}
	@include main(345px) {
		width: 97%;
    left: 1.5%;
	}
	&_prev {
		height: 55px;
		width: 55px;
		background: url('../img/trans-prev.png') no-repeat center center/cover;
		position: absolute;
		left: -2%;
		@include laptop {
			left: 0;
		}
	}
	&_next {
		height: 55px;
		width: 55px;
		background: url('../img/trans-next.png') no-repeat center center/cover;
		position: absolute;
		right: -2%;
		@include laptop {
			right: 0;
		}
	}
	& .owl-prev {
		width: 55px;
		height: 55px;
		position: absolute;
		left: -2%;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		@include laptop {
			left: 0;
		}
	}
	& .owl-next {
		width: 55px;
		height: 55px;
		position: absolute;
		right: -2%;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		@include laptop {
			right: 0;
		}
	}
}

.transport__slider {
	width: 900px;
	display: block;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	@include clearfix;
	@include laptop {
		width: 550px;
	}
	@include tablets {
		width: 265px;
	}
}

.transport__slider-item {
	float: left;
	margin: 0 8px;
	color: #fff;
	width: 285px;
	@include laptop {
		width: 250px;
	}
}

.transport__slider-pic {
	width: 285px;
	height: 285px;
	position: relative;
	@include laptop {
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
}

.transport__slider-pic_elem {
	position: absolute;
	max-width: 99.9%;
	max-height: 99.9%;
}

.transport__slider-title {
	@include opensans(birch);
	font-size: 16px;
	transform: scale(1, 2);
	font-weight: 500;
	text-align: center;
	width: 250px;
	margin: 15px auto;
}

.transport__slider-text {
	font-size: 14px;
	@include opensans(aroman);
	width: 236px;
	margin: 0 auto;
	@include laptop {
		width: 200px;
	}
}

// info area
.info {
	min-height: 446px;
	position: relative;
	z-index: 2;
	margin-top: -30px;
	background: url('../img/back-info.png') no-repeat center top/cover;
	& .row {
		@include clearfix;
		padding: 50px;
		@include desktop {
			padding: 0;
		}
		@include laptop {
			padding-bottom: 50px;
		}
	}
}

.info__about {
	float: left;
	width: 305px;
	color: #fff;
	margin-top: 70px;
	@include laptop {
		display: block;
		float: none;
		width: 85%;
		margin: 70px auto 0;
	}
	@include tablets {
		width: 60%;
		padding-left: 40px;
	}
	@include phones {
		width: 80%;
		padding-left: 25px;
	}
	@include main(400px) {
		width: 90%;
		padding: 0 10px;
	}
}

.info__about-top {
	@include clearfix;
}

.info__about-pic {
	position: relative;
	width: 125px;
	height: 130px;
	float: left;
}

.info__about-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.info__about-title {
	float: left;
	@include opensans(birch);
	font-size: 17px;
	transform: scale(1, 2);
	font-weight: 600;
	margin-top: 55px;
	margin-left: 10px;
}

.info__about-text {
	@include opensans(alight);
	font-size: 15px;
	margin-left: 15px;
}

.info__discover {
	float: left;
	margin-top: 70px;
	color: #fff;
	width: 260px;
	margin-left: 75px;
	@include desktop {
		margin-left: 50px;
	}
	@include tablets {
		float: none;
		display: block;
		margin: 40px auto 0;
	}
}

.info__discover-top {
	@include clearfix;
}

.info__discover-pic {
	float: left;
	position: relative;
	width: 125px;
	height: 125px;
}

.info__discover-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.info__discover-title {
	float: left;
	@include opensans(birch);
	font-size: 17px;
	transform: scale(1, 2);
	font-weight: 600;
	margin-top: 55px;
	margin-left: 10px;
}

.info__discover-list {
	height: 105px;
	@include clearfix;
}

.info__discover-list_item {
	float: left;
	&:last-child {
		margin-left: 10px;
	}
}

.list_item-left {

}

.list_item-right {

}

.list_item-text {
	@include opensans(alight);
	font-size: 15px;
	margin-left: 15px;
}

.info__kontakt {
	float: left;
	margin-top: 70px;
	color: #fff;
	margin-left: 100px;
	@include desktop {
		margin-left: 70px;
	}
	@include laptop {
		float: right;
		margin-right: 50px;
	}
	@include tablets {
		width: 270px;
		float: none;
		display: block;
		margin: 40px auto 0;
	}
}

.info__kontakt-top {
	@include clearfix;
}

.info__kontakt-pic {
	float: left;
	height: 120px;
	width: 120px;
	position: relative;
}

.info__kontakt-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.info__kontakt-title {
	float: left;
	@include opensans(birch);
	font-size: 17px;
	transform: scale(1, 2);
	font-weight: 600;
	margin-top: 58px;
	margin-left: 10px;
}

.info__kontakt-list {
	padding-left: 15px;
}

.info__kontakt-list_item {
	@include clearfix;
}

.kontakt-list_item-mark {
	float: left;
	width: 55px;
	height: 65px;
}

.kontakt-list_item-text {
	float: left;
	@include opensans(alight);
	font-size: 15px;
	margin-left: 20px;
	margin-top: 9px;
	&_one {

	}
	&_two {
		margin-top: 19px;
	}
	&_three {
		margin-top: 19px;
	}
}


.empty {
	height: 108px;
}
// section footer
.footer {
	position: relative;
	z-index: 10;
	margin-top: -108px;
	min-height: 108px;
	background-color: #222326;
	font-size: 14px;
	color: #101010;
	-webkit-box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 12px 0px rgba(0,0,0,0.75);
	.row {
		@include clearfix;
		padding: 0 82px;
		@include desktop {
			padding: 0 20px;
		}
	}
}

.footer__logo {
	width: 255px;
	height: 58px;
	float: left;
	margin-top: 20px;
	position: relative;
	@include phones {
		float: none;
		display: block;
		margin: 20px auto;
	}
}

.footer__logo-link {
	float: left;
}

.footer__logo-pic {

}

.footer__logo-text {
	color: #919193;
	position: absolute;
	bottom: -3px;
	right: -3px;
}

.footer__avtor {
	width: 122px;
	height: 44px;
	float: right;
	margin-top: 30px;
	margin-right: 144px;
	@include desktop {
		margin-right: 80px;
	}
	@include laptop {
		margin-right: 60px;
	}
	@include tablets {
		margin-right: 0;
	}
	@include phones {
		float: none;
		display: block;
		margin: 30px auto;
	}
}

.footer__avtor-link {

}

.footer__avtor-pic {

}